node_modules
.next
.env
.env.local
.env.production
.env.development
.vercel
*.log
dist/
build/

# PWA files
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# Mobile app folders
NovaKitzFinal/
NovaKitzMobile/
NovaKitzNew/
NovaKitzTest/
